<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crossbowffs.tumblradaway">
    <application
        android:label="Tumblr AdAway">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="Removes ads in the Tumblr app"/>
        <meta-data
            android:name="xposedminversion"
            android:value="53"/>
    </application>
</manifest>
